<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinnamontoast.scavengerhunt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScavengerHunt">
        <activity android:name=".SignInActivity"></activity>
        <activity android:name=".SignupConfirmationActivity" />
        <activity android:name=".ScavengerHuntActivity" />
        <activity android:name=".LaunchQuestActivity" />
        <activity android:name=".CreateLocationActivity" />
        <activity android:name=".CreateHuntActivity" />
        <activity android:name=".CreateQuestActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".ParentProfileActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>